#under_0 {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100vw;
}

#left_side_1 {
    /*display: flex;*/
    /*height: calc(window.innerHeight.toString());*/
    position: absolute;
    height: 100%;
    width: 15vw;
    border: gray solid;
    border-width: 0 1px 0 0;
    /*flex-direction: row;*/
}

.ge_dan_in_left_2 {
    position: relative;
    top: 40px;
    /*background: white;*/
    width: 100%;
    height: 30px;
    border: 0;
    text-align: left;
    flex-direction: row;
    display: flex;
    /*background-color: pink;*/
}

.not_clicked_or_not_in_3 {
    font-size: 15px;
    color: black;
    /*color: black;*/
    text-decoration: none;
    width: 100%;
    height: 30px;
    /*background-color: pink;*/
    /*top: 30px;*/
}

#My_favorite_icon_4 {
    width: 20px;
    height: 20px;
    position: relative;
    /*top: 0;*/
    top: 5px;
}

#right_side_1 {
    width: 80vw;
    height: calc(100vh + 80px);
    position: absolute;
    left: 250px;
    top: 80px;
    display: flex;
    flex-direction: column;
}

ul, li, ol {
    list-style: none;
}

.slider_2 {
    width: 810px;
    height: 300px;
    /*border: 1px solid #eee;*/
    margin: 0 auto;
    padding: 5px;
    /*left: 80px;*/
    position: absolute;
    overflow: hidden;
    left: calc(((100vw - 80px) / 2 - 810px / 2) - 80px);
    top: -30px;
}

.slider_3 {
    width: 810px;
    height: 300px;
    /*background: pink;*/
    position: relative;
    overflow: hidden;
}

.slider_3 img {
    display: block;
    width: 810px;
    height: 300px;
    left: -36px;
    position: relative;
}

.slider_3 ul {
    width: 800%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider_3 li {
    float: left;
}

.slider_2 ol {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    bottom: 10px;
}

.slider_2 ol li {
    float: left;
    width: 18px;
    height: 18px;
    background: #ffffff;
    margin-right: 10px;
    text-align: center;
    line-height: 18px;
    border-radius: 20px;
    left: -55px;
    bottom: -5px;
    position: relative;
}

.slider_2 ol li.current {
    background: pink;
    cursor: pointer;
    border-radius: 20px;
    left: -55px;
    bottom: -5px;
    position: relative;
}

#recommendations_2 {
    /*background: #f57598;*/
    top: 300px;
    position: relative;
    font-weight: bold;
    font-size: 25px;
}

#ge_dan_2 {
    width: 100%;
    height: 600px;
    position: relative;
    top: 350px;
}

#ge_dan_3 {
    width: calc(230px * 5);
    height: calc(250px * 2);

    display: flex;
}

.ge_dan_4 {
    height: 250px;
    display: flex;
}

.ge_dan_5 {
    height: 250px;
    display: flex;
    width: 230px;

}

.link_6 {
    width: 230px;
    height: 280px;
    text-decoration: none;
    /*background: #f57598;*/
    border: 0 white solid;
}

.number_7 {
    /*font-weight: lighter;*/
    font-size: 12px;
    /*background-color: #f57598;*/
    text-align: right;
    width: 200px;
    position: absolute;
    top: 0;
    color: white;
}

.number_2_7 {
    font-size: 12px;
    /*background-color: #f57598;*/
    text-align: right;
    width: 200px;
    position: absolute;
    top: 250px;
    color: white;
}

.pic_7 {
    background: white;
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 5px;
    border: 0 white solid;
}

.description_7 {
    font-size: 13px;
}