html, body {
    height: 100%;
    width: 100%;
    position: fixed;
    font-family: "Microsoft YaHei UI", serif;
}

#all_1 {
    height: 100%;
    width: 100%;
    /*background: linear-gradient(pink, #202020);*/
}

#top_button_2 {
    position: absolute;
    top: 25px;
    /*width: 41px;*/
    width: 100%;
    height: 41px;
    /*background-color: #42b983;*/
}

#go_to_last_page_3 {
    position: relative;
    left: 40px;
    width: 41px;
    height: 41px;
    /*background-color: blue;*/
    border: 1px solid gray;
    border-radius: 3px;
}

#pictures_4 {
    width: 17px;
    height: 17px;
    position: relative;
    top: 12px;
    left: 12px;
}

#middle_2 {
    position: absolute;
    top: 106px;
    width: 100%;
    height: 700px;
    /*background-color: #ff7a9e;*/
}

#left_album_picture_3 {
    position: absolute;
    width: 45%;
    height: 100%;
    /*background-color: darkorange;*/
}

#album_picture_in_7_4 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    width: 405px;
    height: 405px;
    border-radius: 200px;
    animation: noStopRound 10s linear infinite;
    /*background-color: lightgreen;*/
}

@keyframes noStopRound {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#right_lyrics_3 {
    position: fixed;
    left: 45%;
    width: 55%;
    height: 100%;
    /*background-color: pink;*/
}

#basic_information_4 {
    position: fixed;
    width: 100%;
    height: 52px;
    /*left: calc(30px + 40%);*/
    /*background-color: #0dff0a;*/
}

#first_5 {
    position: relative;
    font-size: 30px;
    height: 35px;
    left: 32px;
    font-weight: bold;
    /*background-color: deeppink;*/
}

#second_5 {
    position: relative;
    top: 6px;
    font-size: 14px;
    height: 18px;
    left: 32px;
    /*background-color: aqua;*/
    display: flex;
    flex-direction: row;
}

#al_content_6 {
    max-width: 326px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#singers_6 {
    position: relative;
    left: 33px;
}

#singer_content_6 {
    position: relative;
    left: 33px;
}

#lyrics_5 {
    height: 510px;
    position: relative;
    top: 40px;
    width: 100%;
    /*background-color: lightpink;*/
    overflow: auto;
}
ul {
    transition: 0.5s;
}
#lyrics_5 li {
    height: 50px;
    line-height: 50px;
    font-size: 19px;
    list-style: none;
}

.now {
    font-weight: bold;
}