html, body {
    height: 300px;
}

#top_side_first {
    background: #ff7a9e;
    height: 60px;
    display: flex;
    width: 100vw;
    flex-direction: column;
}

#logo_second {
    width: 160px;
}

#top_place_3 {
    background: url(img/topbar.png) no-repeat;
    position: relative;
    display: flex;
    color: white;
    top: 13px;
    left: 20px;
    width: 158px;
}

#small_4 {
    height: 45px;
    width: 100px;
}

#search_box_second {
    position: absolute;
    float: left;
    top: 20px;
    height: 40px;
    /*line-height:60px;*/
    left: 300px;
    background: #f57598;
    border-radius: 20px;
    width: 220px;
}

#button_3 {
    height: 30px;
    background: url("img/search.svg");
    border: 0 solid;
    top: 5px;
    position: relative;
    left: 10px;
}

#input_3 {
    height: 30px;
    background: #f57598;
    border: 0 solid;
    border-radius: 10px;
    top: 2px;
    position: relative;
    left: 10px;
    outline: none;
    /*text-decoration-color: white;*/
    color: white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: white;
}

#search_icon_3 {
    position: relative;
    width: 15px;
}

#head_and_name_2 {
    /*background-color: #f57598;*/
    /*color: #f57598;*/
    height: 60px;
    position: absolute;
    border: 0 solid;
    left: 1100px;
}

#button_for_head_and_name_3 {
    /*color: #f57598;*/
    background-color: #ff7a9e;
    border: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 60px;
    width: 200px;
    text-align: center;
}

#head_4 {
    width: 30px;
    border-radius: 30px;
    float: left;
}

#username_4 {
    display: compact;
    color: black;
    /*height: 60px;*/
    flex-direction: column;
    margin: auto;
    position: relative;
    top: 5px;
    float: left;
    /*left: -50px;*/
    width: 100px;
}

#under_0 {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100vw;
}

#left_side_1 {
    /*display: flex;*/
    /*height: calc(window.innerHeight.toString());*/
    position: absolute;
    height: 100%;
    width: 15vw;
    border: gray solid;
    border-width: 0 1px 0 0;
    /*flex-direction: row;*/
}

.ge_dan_in_left_2 {
    position: relative;
    top: 40px;
    /*background: white;*/
    width: 100%;
    height: 30px;
    border: 0;
    text-align: left;
    flex-direction: row;
    display: flex;
    /*background-color: pink;*/
}

.not_clicked_or_not_in_3 {
    font-size: 15px;
    color: black;
    /*color: black;*/
    text-decoration: none;
    width: 100%;
    height: 30px;
    /*background-color: pink;*/
    /*top: 30px;*/
}

#My_favorite_icon_4 {
    width: 20px;
    height: 20px;
    position: relative;
    /*top: 0;*/
    top: 5px;
}

#right_side_1 {
    width: 80vw;
    height: calc(100vh - 80px);
    position: absolute;
    left: 250px;
    top: 80px;
    display: flex;
    flex-direction: column;
}

ul, li, ol {
    list-style: none;
}

.slider_2 {
    width: 810px;
    height: 300px;
    /*border: 1px solid #eee;*/
    margin: 0 auto;
    padding: 5px;
    /*left: 80px;*/
    position: absolute;
    overflow: hidden;
    left: calc(((100vw - 80px) / 2 - 810px / 2) - 80px);
    top: -30px;
}

.slider_3 {
    width: 810px;
    height: 300px;
    /*background: pink;*/
    position: relative;
    overflow: hidden;
}

.slider_3 img {
    display: block;
    width: 810px;
    height: 300px;
    left: -36px;
    position: relative;
}

.slider_3 ul {
    width: 800%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider_3 li {
    float: left;
}

.slider_2 ol {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    bottom: 10px;
}

.slider_2 ol li {
    float: left;
    width: 18px;
    height: 18px;
    background: #ffffff;
    margin-right: 10px;
    text-align: center;
    line-height: 18px;
    border-radius: 20px;
    left: -55px;
    bottom: -5px;
    position: relative;
}

.slider_2 ol li.current {
    background: pink;
    cursor: pointer;
    border-radius: 20px;
    left: -55px;
    bottom: -5px;
    position: relative;
}

#recommendations_2 {
    /*background: #f57598;*/
    top: 300px;
    position: relative;
    font-weight: bold;
    font-size: 25px;
}

#ge_dan_2 {
    width: 100%;

    position: relative;
    top: 350px;
}

#ge_dan_3 {
    width: calc(230px * 5);
    height: calc(250px * 2);

    display: flex;
}

.ge_dan_4 {
    height: 250px;
    display: flex;
}

.ge_dan_5 {
    height: 250px;
    display: flex;
    width: 230px;

}

.link_6 {
    width: 230px;
    height: 280px;
    text-decoration: none;
    /*background: #f57598;*/
    border: 0 white solid;
}

.number_7 {
    /*font-weight: lighter;*/
    font-size: 12px;
    /*background-color: #f57598;*/
    text-align: right;
    width: 200px;
    position: absolute;
    top: 0;
    color: white;
}

.number_2_7 {
    font-size: 12px;
    /*background-color: #f57598;*/
    text-align: right;
    width: 200px;
    position: absolute;
    top: 250px;
    color: white;
}

.pic_7 {
    background: white;
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 5px;
    border: 0 white solid;
}

.description_7 {
    font-size: 13px;
}