本次的寒假考核旨在以实战的方式，熟悉Web开发，进一步的让大家感受 Web 的强大。
同时这也算是大家的第一个项目，希望大家能够有所收获。
一些提醒
1. 开始之前自己好好规划一下，安排一个合理的工期，希望大家能够认真对待，也希望大家能好好过个春节。
2. 作业禁止抄袭，长段引用的代码请标注来源，否则严重者直接取消资格。
3. 尽最大努力去完成，做不完也没关系，能做多少做多少
4. 优先考虑做 PC 端，有能力的尽量兼做移动端的适配。理论上不允许使用任何库和框架 （包括但不限于 React/Vue/Axios/Ant Design/Flutter），但可以使用 Webpack/Vite 等打包部署工具，如果对于 TypeScript/Redux 等非功能相关的库有使用需求，可以私聊导师酌情考虑。
5. 有问题请及时联系自己的导师
网易云音乐
界面参考：官方PC客户端（就是下载在桌面上的，你们写成网页形式就好）
后端接口：网易云音乐API
接口食用指南：接口食用指南
注意：网易云登录接口失效，需要自己登录网易云获取cookie，在需要登录的接口中，需携带获取的cookie进行请求 教程：https://www.lunwenxu.com/archives/658.html
手机登录可用，将返回的cookie保存下来，需要的时候带上
（因为现在客户端有好几个版本，所以不作固定要求，但至少需要完成以下板块的功能以及其余部分的基本样式）
基础功能
- header
  - 网易云音乐logo ok
  - 头像 ok
  - 昵称 ok
- 首页
  - 轮播图(基本轮播图即可，即图片自动轮播，手动切换，底部的分页) ok
  - 推荐歌单（封面、标题、播放数）ok
- 歌单广场
  - 展现全部歌单(封面、标题、播放数）ok
  - 可以进行分类筛选不同类型歌单 ok
- 歌单详情 (任意点击一个歌单进入)
  - 歌单信息（歌单名、歌曲数、创建者、歌单简介） ok
  - 歌曲列表(列表歌曲点击可播放，并具有上一首下一首功能)
- 搜索
  - 歌曲搜索(列表歌曲点击可播放，并具有上一首下一首功能)
  - 热搜榜(可点击进行搜索)
- 侧边栏
  - 我喜欢的音乐(列表歌曲点击可播放，并具有上一首下一首功能)
  - 我的歌单(列表歌曲点击可播放，并具有上一首下一首功能)
- 音乐播放
  - 播放音乐
  - 播放控制（暂停、播放、上一首、下一首、进度拖拽)
  - 音量控制
  - 当前音乐播放时间
- 播放详情页
  - 歌词
  - 歌曲信息
  - 播放动画
- 个人详情页
  - 编辑个人资料
    - 上传头像
    - 修改昵称与个人简介等信息
加分项
如果时间充足的同学可以再尽善尽美，根据提供的API去完成其余功能，大部分功能都是可以完成的。
- 页面样式
  - 样式美观、趋近于原生界面，原则上不允许自由发挥。
- 图片懒加载
- 首页（发现音乐）
  - 轮播图(网易云桌面客户端卡片式轮播/任意一种动效轮播)
- 歌单广场
  - 可选择歌单类型
- 歌手页
- 排行榜
- 歌单
  - 评论(展现已有评论、可以回复、发表评论、分页)
- 播放
  - 播放列表
- 搜索
  - 搜索推荐词
  - 默认搜索词
  - 搜索历史
- 音乐播放页
  - 歌词滚动
作业提交
还是和之前一样，上传github，交到各自的导师邮箱。
截止日期为2月20号上午12:00，祝各位寒假愉快 ～
